@import "../../base/fn"
.weui-btn
        position relative
        diaplay  block
        margin-left auto
        margin-right auto
        padding-left 14px
        padding-right 14px
        box-sizing border-box
        font-size  $weuiBtnFontSize
        text-align center
        text-decoration none
        color $weuiBtnFontClor
        line-height unit($weuiBtnHeight/$weuiBtnFontSize,'')
        border-radius $weuiBtnBorderRadius
        setTapColor()
        overflow hidden